{% extends "base.html" %}

{% block title %}- Thank You!{% endblock %}

{% block page_title %}Thank You!{% endblock %}

{% block content %}
          <div class="section">
            <div class="section-content">
              Thank you for your order! We will send you a confirmation email with the total price of your order and payment instructions.
            </div><!--/.section-content-->
          </div><!--.section -->
	{% if order %}
	{% else %}
		<!-- No order info! -->
	{% endif %}
{% endblock %}
